.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.h1{
  text-align: center;
}
.App-header {
  background-color: #282c34;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmin); */
  color: white;
  ;
}
.btn{
  /* align-items: right; */
  margin-left: 1120px;
  /* color: red; */
  /* text-align: right; */
  /* position: absolute; */
    /* top:0; */
    /* right: 0; */
}
.App-link {
  color: #61dafb;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image:url('room finder background image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:1800px 800px;
  ;
}
.text{
  text-align: center;;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
